node_modules/
.env
.env.*
!.env.example
.npmrc
*.tgz
*.log
*.tsbuildinfo
.jostraca/
.model/
.model-config/
.sdk/.cache/
.sdk/dist/
.sdk/src/
.sdk/tm/
.sdk/test/
.sdk/log/
.sdk/doc/
.sdk/sdkgen-copies.json
.sdk/model/sdk.json
.sdk/def/*.full.json
ts/dist/
ts/dist-test/
ts/test/*
!ts/test/sdk-test-control.json
ts/.gitignore
ts/Makefile
.DS_Store
